<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content-container">
  <div class="register-container">
    <div class="welcome-text">
      <p class="tagline">Join Our <span class="highlight">Green</span> Community!</p>
      <h1 class="heading">Create Account</h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item class="custom-input">
        <ion-icon 
          [name]="registerForm.get('email')?.valid ? 'mail' : 'mail-outline'" 
          [color]="registerForm.get('email')?.valid ? 'success' : 'medium'"
          slot="start">
        </ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors">
        {{ getEmailError() }}
      </div>

      <ion-item class="custom-input">
        <ion-icon 
          [name]="registerForm.get('password')?.valid ? 'lock-closed' : 'lock-closed-outline'"
          [color]="registerForm.get('password')?.valid ? 'success' : 'medium'"
          slot="start">
        </ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" (ionInput)="onPasswordInput()"></ion-input>
      </ion-item>

      <div class="password-strength" *ngIf="registerForm.get('password')?.dirty">
        <div class="strength-meter">
          <div class="strength-bar" [style.width.%]="passwordStrength"></div>
        </div>
        <div class="requirements-list">
          <span [class.met]="hasMinLength">12+ characters</span>
          <span [class.met]="hasUpperCase">ABC</span>
          <span [class.met]="hasLowerCase">abc</span>
          <span [class.met]="hasNumber">123</span>
          <span [class.met]="hasSpecialChar">!&#64;#</span>
        </div>
      </div>

      <ion-button expand="block" type="submit" [disabled]="!registerForm.valid || loading" class="ion-margin-top" color="success">
        <ion-spinner *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">Register</span>
      </ion-button>

      <div class="auth-link ion-margin-top">
        <span>Already have an account?</span>
        <ion-button fill="clear" routerLink="/login">Login</ion-button>
      </div>
    </form>
  </div>
  </div>
</ion-content>