<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
      Email is required
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
      Password is required
    </div>

    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <!-- Add success message display -->
    <div class="success-message" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid || loading" class="ion-margin-top">
      <ion-spinner *ngIf="loading"></ion-spinner>
      <span *ngIf="!loading">Login</span>
    </ion-button>

    <ion-button expand="block" type="button" (click)="signInWithGoogle()" [disabled]="loading" class="ion-margin-top google-btn">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Sign in with Google
    </ion-button>

    <div class="ion-text-center ion-margin-top">
      <ion-button fill="clear" (click)="resetPassword()" [disabled]="loading || !loginForm.get('email')?.valid">
        Forgot Password?
      </ion-button>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-text>New user?</ion-text>
      <ion-button fill="clear" [routerLink]="['/register']">
        Register here
      </ion-button>
    </div>
  </form>
</ion-content>